<div class="container">

    <div class="row_welcome" style="padding-top: 60px;">
        <div class="col-sm-5 col-md-8"><h2> Hit your career targets with RedShell </h2>
          <p>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te. Malorum ocurreret id per, cum et indoctum efficiantur. In definitiones mediocritatem pri. Ea vix audiam noluisse. Vel mollis impetus nominati ea. Ei est saperet principes, pro possim commodo dolorum te, pro ne paulo tractatos.
          </p></p>
          <p><b>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te.</b></p>


        </div>
        <div class="col-md-4"><img src = "/images/red_shell_logo.png" class="img-responsive center-block"></img></div>
    </div>

    <div style="padding-top: 60px;">
        <div class="col-sm-12">
          <div class="page-header"><a href="/users/sign_up" class="btn btn-lg btn-danger">Sign Up Now</a></div>
        </div>
    </div>

    <div class="row_current_features">
        <div class="col-sm-1 col-md-4 text-left" style="padding-top: 90px;">
          <img src="/images/computer_placeholder.jpg" class="center-block"></img>
          <h3>Save your history</h3>
          <p>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te. Malorum ocurreret id per, cum et indoctum efficiantur. In definitiones mediocritatem pri. Ea vix audiam noluisse. Vel mollis impetus nominati ea. Ei est saperet principes, pro possim commodo dolorum te, pro ne paulo tractatos.</p></div>
        <div class="col-sm-offset-3 col-sm-1 col-md-offset-0 col-md-4 text-left" style="padding-top: 90px;">
          <img src="/images/computer_placeholder.jpg" class="center-block"></img>
          <h3>Tag your work</h3>  <p>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te. Malorum ocurreret id per, cum et indoctum efficiantur. In definitiones mediocritatem pri. Ea vix audiam noluisse. Vel mollis impetus nominati ea. Ei est saperet principes, pro possim commodo dolorum te, pro ne paulo tractatos.</p></div>
        <div class="col-sm-offset-6 col-sm-3 col-md-offset-0 col-md-4 text-left" style="padding-top: 90px;">
          <img src="/images/computer_placeholder.jpg" class="center-block"></img>
          <h3>Save custom resumes</h3>  <p>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te. Malorum ocurreret id per, cum et indoctum efficiantur. In definitiones mediocritatem pri. Ea vix audiam noluisse. Vel mollis impetus nominati ea. Ei est saperet principes, pro possim commodo dolorum te, pro ne paulo tractatos.</p></div>
    </div>
    <div class="row_current_features" style="padding-top: 120px;">
        <div class="col-sm-1 col-md-12" style="padding-top: 90px;">
          <h3> Coming soon... </h3></div>
    </div>

    <div>
      <div class="col-sm-1 col-md-4 text-left" style="padding-top: 60px;">
        <img src="/images/computer_placeholder.jpg" class="center-block"></img>
        <h4>Export your resume with curated templates</h4>
        <p>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te. Malorum ocurreret id per, cum et indoctum efficiantur. In definitiones mediocritatem pri. Ea vix audiam noluisse. Vel mollis impetus nominati ea. Ei est saperet principes, pro possim commodo dolorum te, pro ne paulo tractatos.</p>
      </div>
      <div class="col-sm-offset-3 col-sm-1 col-md-offset-0 col-md-4 text-left" style="padding-top: 60px;">
        <img src="/images/computer_placeholder.jpg" class="center-block"></img>
        <h4>Customize your cover letters with your .xml templates</h4>
        <p>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te. Malorum ocurreret id per, cum et indoctum efficiantur. In definitiones mediocritatem pri. Ea vix audiam noluisse. Vel mollis impetus nominati ea. Ei est saperet principes, pro possim commodo dolorum te, pro ne paulo tractatos.</p>
      </div>
      <div class="col-sm-offset-6 col-sm-3 col-md-offset-0 col-md-4 text-left" style="padding-top: 60px;">
        <img src="/images/computer_placeholder.jpg" class="center-block"></img>
        <h4>Pull key words from job posts with machine learning</h4>  <p>Lorem ipsum dolor sit amet, ei summo mazim per, eam dicta corpora te. Malorum ocurreret id per, cum et indoctum efficiantur. In definitiones mediocritatem pri. Ea vix audiam noluisse. Vel mollis impetus nominati ea. Ei est saperet principes, pro possim commodo dolorum te, pro ne paulo tractatos.</p>
      </div>
    </div>

</div>
