@charset "utf-8";

@import "bootstrap-4-spacers";

.navbar-default {
  background-color: #c60000;

}

.navbar-default .navbar-brand {
  color: white;

}

.navbar-default .navbar-nav>li>a {
color:white;

}

a:hover, a:focus {
    color: #0a6ebd;
    text-decoration: none;
  }

  .btn-success {
    color: black;
    background-color: #eaeaea;
    border-color: transparent;
}

.btn-success:hover, .btn-success:active:hover, .btn-success:focus {
    color: black;
    background-color: white;
}
